<p>
  <b>Name:</b>
  <%=h @portfolio.name %>
</p>

<p>
  <b>Summary:</b>
  <%=h @portfolio.summary %>
</p>

<p>
  <b>Description:</b>
  <%=h @portfolio.description %>
</p>

<p>
  <b>Image url:</b>
  <%=h @portfolio.image_url %>
</p>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>