<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title><%= @page_title || "Mark Young Portfolio" %></title>
	<link href="http://www.css-reset.com/css/yui.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<%= stylesheet_link_tag "main", :media => 'all' %>
</head>

<body id="main_body">
	
	<div id="header">
		<%= image_tag('logo.png') %>
		<%= @page_title || "Mark Young Portfolio" %>
	</div>
	
	<div id="columns">
		<div id="left_side">			
		</div>
		
		<div id="main_content">
			<%= yield :layout %>
		</div>
		
		<div id="right_side">			
		</div>
	</div>
</body>
</html>
	